body {
    display: flex;
    justify-content: center;
}

main {
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: center;
    margin-top: 10rem;
    margin-bottom: 5rem;
}

iframe {
    width: 40rem;
    height: 40rem;
}

.blockA {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.blockA div {
    position: relative;
}




.blockA h1, .blockA-mobile h1 {
    background-color: hotpink;
}
.blockA-mobile {
    display: none;
}

@media only screen and (max-width: 820px) {
    main {
        margin-top: 7rem;
    }

    .blockA {
        display: none;
    }

    .blockA-mobile {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .blockA-mobile h1 {
        margin-bottom: 1rem;
    }

    .blockA-mobile img {
    width: 300px;
    border: 2px solid hotpink;
    }
    .blockA-mobile a {
    text-decoration: none;
    text-align: center;
    padding-top: 10px;
    }
}