body {
    display: flex;
    justify-content: center;
}

main {
    width: 100%;
    max-width: 1000px;
    display: flex;
    flex-direction: column;
}

.blockA {
    align-items: end;
    height: 12rem;
    margin-top: 5rem;
    padding: 1rem 2rem;
    gap: 1rem;
}

.blockA h1 {
    background-color: #25b4b1;
    margin-left: 10rem;
}
.blockA h3 {
    max-width: 22rem;
}

.blockB {
    flex-direction: column;
    align-items: center;

    padding: 1rem 2rem;
}

.blockB article {
    padding-left: 10rem;
    padding-top: 1.2rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid hotpink;
    font-weight: 200;
}
.blockB article:last-child {
    border-bottom: 0;
}
.blockB article:hover {
    cursor: default;
    background-color: hotpink;
}

.blockB article p {
    padding-left: 10px;
}

.read-more {
    display: none;
}

@media only screen and (max-width: 400px) {
    .blockA {
        height: 8rem;
    }

    .blockA h1 {
        margin-left: 0;
    }

    .blockA h3 {
        font-size: 14pt;
    }

    .blockB article {
        padding-left: 0;
        margin-bottom: 0.5rem;
        margin-top: 0.5rem;
    }

    .blockB article:hover {
        background-color: white;
    }

    .blockB article:last-child {
        margin-bottom: 2rem;
    }
    
    .blockB article p {
        font-size: 10pt;
    }
}