body {
    height: calc(100vh - 5rem);

}


aside {
    height: 100%;
    width: 20rem;
    padding: 1rem;
}

aside > div {
    width: 18rem;
    height: 24rem;
    border: 1px solid black;
    padding: 1rem;
    /* border-top: none; */
}

ul {
    list-style-type: none;
}

.sidemenu > li > h5 {
margin-bottom: 0;
}

.main--content {
    width: 100%;
    height: 100%;
    
    display: flex;
}
main {
    width: 100%;
    height: 95%;
    background-color: rgb(228, 244, 237);
    border-radius: 0 0 2rem 0;
    margin: 1rem;
    padding: 1rem;
    position: relative;

}

.sharp-corner {
    width: 0;
    height: 0;
    border-bottom: 80px solid white;
    border-left: 80px solid transparent;
    position: absolute;
    bottom: 0;
    right: 0;
}

#h1--bg {
    background-color: white;
    padding: 5px;
    font-weight: 200;
}

.style--h4 {
    margin-left: 1rem;
    background-color: white;
}
/* li {
    margin-bottom: 1rem;
} */