* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}

header {
    height: 5rem;
    width: 100%;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    position: fixed;

    padding: 0 2rem 0 2rem;
    color: rgb(228, 244, 237);
    border-bottom: 4px double black;
    background-color: black;
}


h1 a {
    text-decoration: none;
    color: aliceblue;
}

nav > ul {
    display: flex;
    justify-content: flex-end;

    padding-top: 1rem;
    gap: 1rem;

    list-style-type: none;
    font-size: 15pt;
}

.banner {
    background-color: rgb(228, 244, 237);
    padding: 2rem;
    text-align: center;
    font-weight: 500;
}

.init--load {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav--link {
    text-decoration: none;
    background-color: yellow;
    color: black;
    padding: 5px;
}

.nav--link:hover {
    color: rgb(175, 175, 0);
}

.fuzzy-bubbles {
    font-family: 'Fuzzy Bubbles', cursive;
}

.center--adjust {
    display: flex;
    justify-content: center;
    align-items: center;
}

.font-turquoise {
    color: #25b4b1;
}
.font-dark {
    color: #1a7170;
}
.font-gray {
    color: rgb(156, 156, 156);
}

.bg-yellow {
    background-color: yellow;
    padding: 0 2pt;
}

.set-size {
    font-size: 14pt;
}

.sm-txt {
    font-size: 9pt;
}

.strip {
    margin-top: 1rem;
    margin-bottom: 0
    ;
    background-color: white;
}

.contact--div {
    position: fixed;
    bottom: 0;
    right: 0;
    background-color: white;
    border-radius: 5px;
    padding: 5px 0 5px 2rem ;
}

.soMeIcons {
    text-decoration: none;
    color: #25b4b1;
    font-size: 20pt;
    padding-right: 1rem;
}